/*  Statistics   */

.counters {
    width: 100%;
    left: 0;
    position: absolute;
    padding: 3em 2em;
    background: rgba(4, 4, 124, 0.85);
    color: #fcfcfe;
    text-align: center;
}

.counters > div {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 2em;
}

.counter {
    position: relative;
}

.counter h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.counter:not(:last-child)::before {
    content: '';
    background: #fcfcfe;
    position: absolute;
    width: 2px;
    height: 3em;
    top: 50%;
    transform: translateY(-50%);
    right: -1em;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .counters > div {
        grid-template-columns: 1fr 1fr;
    }
    .counter:nth-child(2)::before {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .counters > div {
        grid-template-columns: 1fr;
        row-gap: 5em;
    }
    .counter:not(:last-child)::before {
        width: 90%;
        height: 2px;
        top: initial;
        right: initial;
        bottom: -3em;
        left: 50%;
        transform: translateX(-50%);
    }
}
body {
    background: #fcfcfe;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem; /* Adjust the gap as needed */
}

.chart {
    padding: 2rem;
    border: 1px solid #ff0000;
    border-radius: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    max-width: 300px; /* Ensure the max-width is set */
}